/*  Navigation CSS Code */
body,html{
    background-color: #1b2735;
    background-color: var(--surface, #1b2735);
      color: var(--primary-text, #fff);
    margin:0px;
    padding:0px;
    font-family:poppins;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
    
}
section{
    
    /*background-image:url("/images/bg.png"); */
    /*background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);*/
    
    background-color: var(--surface, #1b2735);
    background-repeat:no-repeat;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:60px;	
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
    position: absolute;
    width:90%;
}
nav ul{
    display: flex;
}
.toggle{
    display: none;
}
nav ul li a{
    margin:30px;
    font-family:myriad pro regular;
    font-size: 15px;
    font-weight:700;

    color:#fff;
    color: var(--primary-text, #fff);
}
nav ul li a:hover{	
    transform: translate3d(0, -10px, 22px);
      color: #03dac6;
}
.logo{
    font-family: 'Cormorant';
    font-size: 30px;
    color: #494d4c;
}
.active{
    color:#03dac6;
    font-weight:bold;
}
/* Goto top CSS Code */
.go-top {
    font-family:Arial;
    position:fixed;
    bottom: 1em;
    right: 1em;
    text-decoration:none;
    color:white;
    background-color: rgba(95,158,160,0.4);
    padding: 0.5em;
    border-radius:40px;
   display:none;
  }
  .go-top:hover {
    background-color:rgb(41, 36, 41);
    color: lavender;
  }
/*Content-wrapper Code*/
.content-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
    position:absolute;
    top: 100px;
    left: 50px;
    transform: translateX(0px, -50px);

  }
  
  .news-card {
    border: 0px solid aqua;
    margin: 0.5rem;
    position: relative;
    height: 12rem;
    overflow: hidden;
    border-radius: 0.5rem;
    flex: 1;
    min-width: 290px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }

  .news-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);;
    z-index: 0;
  }

.news-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

}

.news-card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

.news-card__text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: white;

  transition: background-color 1.5s ease;
}

.news-card__title {
  transition: color 1s ease;
  margin-bottom: .5rem;
}

.news-card__post-date {
  font-size: .7rem;
  margin-bottom: .5rem;
  color: #CCC;
}

.news-card__details-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1s ease;
}

.news-card__excerpt {
    font-weight: 300;
  }

.news-card__read-more {
    background: black;
    color: #bbb;
    display: block;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: 1px solid #444;
    font-size: 0.8rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    width: 7rem;
    margin-left: auto;
    position: relative;
    z-index: 5;
  }

.news-card__read-more i {
      position: relative;
      left: 0.2rem;
      color: #888;
      transition: left 0.5s ease, color 0.6s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

.news-card__read-more:hover i {
      left: 0.5rem;
      color: yellow;
    }

/*Timeline CSS code*/
ul{list-style: none}
/*--------------------------------------------
            #Start Timeline Rules
--------------------------------------------*/
#timeline
{
  background-color: var(--surface, #1b2735);
  padding: 20px 1%;
  overflow: hidden;
 position: absolute;
 top: 850px;
 left: 600px;
}

#timeline ul
{
  min-height: 950px;
  border-top: 0;
  border-left: 4px solid transparent;
  border-left-color: #7ab800; /* Fullback */
  -webkit-border-image: -webkit-linear-gradient( 
    top, 
    #7ab800 0%,
    #0085c3 35%,
    #f2af00 50%,
    #ce1126 65%,
    #6e2585 100%);
  -moz-border-image: -moz-linear-gradient( 
    top, 
    #7ab800 0%,
    #0085c3 35%,
    #f2af00 50%,
    #ce1126 65%,
    #6e2585 100%);
  -ms-border-image: -ms-linear-gradient( 
    top, 
    #7ab800 0%,
    #0085c3 35%,
    #f2af00 50%,
    #ce1126 65%,
    #6e2585 100%);
  -o-border-image: -o-linear-gradient( 
    top, 
    #7ab800 0%,
    #0085c3 35%,
    #f2af00 50%,
    #ce1126 65%,
    #6e2585 100%);
  border-image: linear-gradient(
    top, 
    #7ab800 0%, 
    #0085c3 35%, 
    #f2af00 50%, 
    #ce1126 65%, 
    #6e2585 100%);
  border-image-slice: 1;
  position: relative;
  top: 5%;
  left: 50%;
  perspective: 2000px
}

#timeline ul li:after
{
  content: "\2713";
  font-family: fontawesome;
  display:block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: 100;
  font-size: 90%;
  line-height:35px;
  text-align: center;
  background-color: #7ab800;
  color: #fff;
  position:absolute;
  -webkit-transition: transform 1s linear;
  transition: transform 1s linear
}

#timeline ul li:nth-child(2):after
{
  background-color: #0085c3;
}

#timeline ul li:nth-child(3):after
{
  content: "\f11d";
  background-color: #f2af00;
}

#timeline ul li:nth-child(4):after
{
  content: "\f11d";
  background-color: #ce1126
}

#timeline ul li:last-child:after
{
  content: "\f11d";
  background-color: #6e2585
}

#timeline ul li .cont
{
  width: 200px;
  height: 110px;
  padding: 25px 10px 10px;
  border: 2px solid transparent;
  border-radius: 4px;
  -webkit-transform: translate(0, -55px);
  transform: translate(0, -55px);
  text-transform: capitalize;
  line-height: 150%;
  font-size: 80%;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 22px
}

#timeline ul li:nth-child(odd) .cont
{
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transition: transform 1.5s linear;
  transition: transform 1.5s linear
}

#timeline ul li:nth-child(even) .cont
{
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transition: transform 1.5s linear;
  transition: transform 1.5s linear
}

#timeline ul li:first-child .cont
{
  color: #7ab800
}

#timeline ul li:nth-child(2) .cont
{
  color: #0085c3
}

#timeline ul li:nth-child(3) .cont
{
  color: #f2af00
}

#timeline ul li:nth-child(4) .cont
{
  color: #ce1126
}

#timeline ul li:last-child .cont
{
  color: #6e2585
}

#timeline ul li:nth-child(odd):hover .cont
{
  text-align: left;
  -webkit-transform: rotateY(-175deg) translate3d(60px,-50px,5px);
  transform: rotateY(-175deg) translate3d(60px,-50px,5px);
  -webkit-transition: transform 1.5s linear;
  transition: transform 1.5s linear;
}

#timeline ul li:nth-child(even):hover .cont
{
  text-align: left;
  -webkit-transform: rotateY(175deg) translate3d(-60px,-50px,5px);
  transform: rotateY(175deg) translate3d(-60px,-50px,5px);
  -webkit-transition: transform 1.5s linear;
  transition: transform 1.5s linear
}

#timeline ul li:nth-child(odd):hover .cont p,
#timeline ul li:nth-child(odd):hover .cont h3
{
  -webkit-transform: rotateY(-175deg);
  transform: rotateY(-175deg)
}

#timeline ul li:nth-child(even):hover .cont p,
#timeline ul li:nth-child(even):hover .cont h3
{
  -webkit-transform: rotateY(175deg);
  transform: rotateY(175deg)
}

#timeline ul li:nth-child(2) .cont time{background-color: #0085C3}

#timeline ul li:nth-child(3) .cont time{background-color: #F2AF00}

#timeline ul li:nth-child(4) .cont time{background-color: #CE1126}

#timeline ul li:last-child .cont time{background-color: #6E2585}

#timeline ul li:nth-child(odd):hover .cont time
{
  -webkit-transform: rotateY(-175deg);
  transform: rotateY(-175deg)
}

#timeline ul li:nth-child(even):hover .cont time
{
  -webkit-transform: rotateY(175deg);
  transform: rotateY(175deg)
}

#timeline ul li .cont p{display: block}

#timeline ul li:nth-child(n+1):after{left: -18px}

#timeline ul li:first-child:after,
#timeline ul li:first-child .cont
{
  top: 8%
}

#timeline ul li:nth-child(2):after,
#timeline ul li:nth-child(2) .cont
{
  top: 28%
}

#timeline ul li:nth-child(3):after,
#timeline ul li:nth-child(3) .cont
{
  top: 48%
}

#timeline ul li:nth-child(4):after,
#timeline ul li:nth-child(4) .cont
{
  top: 68%
}

#timeline ul li:last-child:after,
#timeline ul li:last-child .cont
{
  top: 88%
}

#timeline ul li:nth-child(n+1):hover:after
{
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
  -webkit-transition: transform 1s linear;
  transition: transform 1s linear
}

#timeline ul li:first-child .cont{ border-color: #7ab800}

#timeline ul li:nth-child(2) .cont{ border-color: #0085c3}

#timeline ul li:nth-child(3) .cont{ border-color: #f2af00}

#timeline ul li:nth-child(4) .cont{ border-color: #ce1126}

#timeline ul li:last-child .cont{ border-color: #6e2585}

#timeline ul li:nth-child(odd) .cont{left: 30px}

#timeline ul li:nth-child(even) .cont{left: -255px}

#timeline ul li .cont:before,
#timeline ul li .cont:after
{
  content: "";
  display: block;
  width: 0 ;
  height: 0;
  position: absolute;
  border-style: solid;
}

#timeline ul li:nth-child(odd) .cont:before
{
  border-width: 11px 11px 11px 0 ;
}

#timeline ul li:nth-child(even) .cont:before
{
  border-width: 11px 0 11px 11px
}

#timeline ul li:nth-child(odd) .cont:after
{
  border-width: 10px 10px 10px 0
}

#timeline ul li:nth-child(even) .cont:after
{
  border-width: 10px 0 10px 10px
}

#timeline ul li:nth-child(odd) .cont:before
{
  top: 50%;
  left: -11px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

#timeline ul li:nth-child(even) .cont:before
{
  top: 50%;
  right: -11px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

#timeline ul li:first-child .cont:before
{
  border-color: transparent #7ab800 transparent transparent
}

#timeline ul li:nth-child(2) .cont:before
{
  border-color: transparent transparent transparent #0085c3
}

#timeline ul li:nth-child(3) .cont:before
{
  border-color: transparent #f2af00 transparent transparent
}

#timeline ul li:nth-child(4) .cont:before
{
  border-color: transparent transparent transparent #ce1126
}

#timeline ul li:last-child .cont:before
{
  border-color: transparent #6e2585 transparent transparent
}

#timeline ul li:nth-child(odd) .cont:after
{
  border-color: transparent #222223;
  top: 50%;
  left: -9px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

#timeline ul li:nth-child(even) .cont:after
{
  border-color: transparent #222223;
  top: 50%;
  right: -9px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

#timeline ul li .cont time
{
  width: 100px;
  height: 30px;
  position: absolute;
  top: -15px;
  left: calc(100%/2 - 50px);
  background-color: #7AB800;
  color: #f5f5f5;
  line-height: 30px;
  text-align: center;
  border-radius: 3px
}
.copy-right
{
  color: #7AB800;
  text-align: center;
  padding: 150px 0 20px
}
.copy-right a
{
  color: #0085C3;
  text-transform: capitalize
}



/* Responsive CSS Code */
@media(max-width:1000px){
    *{
        box-sizing: border-box;
    }
}
/*content-wrapper code*/
@media(min-width:900px){
    .news-card {
        height: 20rem
    }
    .news-card:hover .news-card__details-wrapper {
        max-height: 20rem;
        opacity: 1;
    }
    .news-card:hover .news-card__text-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
    }
    .news-card:hover .news-card__title {
        color: yellow;
    }
    .news-card:hover .news-card__image {
        transform: scale(1.2);
        z-index: -1;
    }
}
@media(max-width:750px){
    section{
        background-image:none;
        
    }
    .toggle{
        display: block;
    }
    nav ul{
        margin: 0px;
        padding: 0px;
        background-color: #1d335f;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width:100%;
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        display: none;
        
    }
    nav ul li{
        padding: 10px;
    }
    nav ul li a{
        font-family: calibri;
        font-size: 1.4em;
        text-transform: uppercase;
        color:#5c5c5c;
    }
    nav ul li a:hover{
        color:#121212;
    }
    .toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 30px;
        z-index: 1;
    }
    .toggle.active:before{
        content: '\f00d';
        position: fixed;
        right: 25px;
        line-height: 0px;
        
    }
    nav.active ul{
        display: flex !important;
    }
    .content-wrapper{
        left: 0px;
        
    }

    /*timeline responsive*/
    #timeline{
        width: 100%;
        top: 1400px;
        left: 0px;
    }
    #timeline ul li .cont
    {
        width: 130px;
        line-height: 50%;
        
    }
    
    #timeline ul li:nth-child(even) .cont{
        left: -175px;
        
    }
    
    #timeline ul li .cont p,
    #timeline ul li .cont time
    {
        font-size: 76%;
        
    }
    
    #timeline ul li .cont time
    {
        width: 80px;
        left: calc(100%/2 - 40px);
    }
}
@media(max-height: 600px) {
   
}